@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);

:root {
	font-family: 'Oswald';
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
